$bp-movil:320px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



$color-primary: #000000;
$color-secondary: white;
$color-tertiary: grey;
$font-primary: 'Poppins', sans-serif;
